.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
  display: flex;
  justify-content: center;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
  justify-content: center;
}
