.homepage-container h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin: 0;
}

.homepage-container h4 {
  margin: 10px 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
}

.home-banner {
  width: 100vw;
  height: 700px;
  background: linear-gradient(rgba(5, 62, 61, 0.8), rgba(38, 153, 138, 0.85)),
    url("../images/banner.png");
  background-size: cover;
  background-position: center 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.home-banner h1 {
  width: 70vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.home-banner h2 {
  width: 70vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #e6f5f3;
}

.home-section {
  margin: 50px 110px;
  padding: 0 15px;
  font-size: 17px;
}

.flex-container {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-item {
  text-align: left;
  flex-grow: 2;
  max-width: 50vw;
  padding: 0 15px;
}

.flex-item-custom {
  max-width: 45vw;
  padding-left: 5vw;
}

.flex-item__image {
  flex-grow: 1;
  padding: 0 15px;
}

.flex-item__image img {
  width: 100%;
  max-width: 500px;
}

.goals-banner {
  width: 100%;
  padding: 60px 0;
  margin: 50px 0;
  background-color: #053e3d;
  color: white;
  /* padding: 80px 125px; */
}

.goals-banner h3 {
  margin-bottom: 60px;
  margin: 80px 125px;
}

.goals-container {
  margin: 0 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goals-item {
  flex: 1 1 0px;
  height: 300px;
}

.goals-item img {
  width: 80px;
  margin-bottom: 10px;
}

.goals-item p {
  color: #9fb3b0;
}

.goals-item + .goals-item {
  margin-left: 2%;
}

.grid-container {
  margin: 50px 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  /* display: flex;
  align-items: center; */
  width: 47%;
  padding-bottom: 30px;
}

.grid-item h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  color: #063733;
}

.button-item {
  width: 31%;
  /* flex: 1 1 0px; */
  /* height: 300px; */
}

.button-item img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 5%;
}

.button-item h4 {
  font-size: 20px;
  padding: 10px 0 0;
  /* padding: 5px 20px; */
}

.thanks-banner {
  width: 100%;
  text-align: center;
  /* background-color: #d1ede3; */
}

.thanks-banner h3 {
  margin: 80px 250px 30px;
}

.thanks-banner p {
  margin: 15px 250px;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item {
    max-width: 100vw;
    padding-top: 20px;
  }

  .flex-item-custom {
    max-width: none;
    padding-left: 15px;
  }

  .flex-item__image {
    padding-bottom: 30px;
  }

  .hide-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .homepage-container h3 {
    font-size: 30px;
  }

  .home-banner {
    height: auto;
    min-height: 500px;
    padding: 100px 0;
    background: linear-gradient(rgba(5, 62, 61, 1), rgba(38, 153, 138, 1));
  }

  .home-banner h1 {
    font-size: 30px;
  }
  .home-banner h2 {
    font-size: 18px;
  }

  .home-section {
    margin: 30px 30px;
  }

  .goals-banner {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }

  .goals-banner h3 {
    margin: 40px 40px;
  }

  .goals-container {
    flex-direction: column;
    /* width: 100vw; */
    align-items: center;
    margin: 0 40px;
  }

  .goals-item {
    margin: 40px 0;
    max-width: 400px;
  }

  .homepage-container h4 {
    font-size: 18px;
  }

  .goals-item + .goals-item {
    margin-left: 0;
  }

  .grid-container {
    flex-direction: column;
    margin: 50px 30px;
  }

  .grid-item {
    width: 100%;
    padding-bottom: 0;
  }

  .button-item {
    width: 100%;
    margin-bottom: 50px;
    /* height: auto; */
  }

  .thanks-banner h3 {
    margin: 60px 45px 30px;
  }

  .thanks-banner p {
    margin: 15px 45px;
  }
}
