/* GENERAL */

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  /* background-color: #faead4; */
  background-color: white;
  /* color: white; */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

p,
li {
  font-size: 17px;
  line-height: 1.4;
}

a {
  color: rgba(5, 62, 61, 0.9);
  font-weight: bold;
  text-decoration: none;
}

.helper-text {
  font-size: 14px;
}

.fade-in {
  -webkit-animation: fadein 0.5s linear forwards;
  animation: fadein 0.5s linear forwards;
  /* padding: 10px; */
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SCROLLER */

.scroller {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  /* width: 100%; */
  overflow: hidden;
  margin: 0 10px;
}

.scroller p {
  color: #bdd9d7;
  text-align: justify;
  font-size: 11px;
  transition: margin 400s linear;
}

/* BUTTONS */

.btn-container {
  display: flex;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.end-btn {
  background-color: rgba(38, 153, 138, 0.8);
  color: #fff;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  margin-right: 20px;
}

.return-btn {
  background-color: #d0dbd9;
  color: #163630;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  margin-right: 20px;
}

.next-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: rgba(38, 153, 138, 0.8);
  color: #fff;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
}

.next-btn:hover {
  background-color: rgba(5, 62, 61, 0.9);
  color: #fff5e8;
}

/* FLEX ITEMS */

.flex-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.flex-legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 15px 5px;
}

.flex-legend-item-square {
  width: 10px;
  height: 10px;
  color: inherit;
  background-color: currentColor;
  margin-right: 5px;
}

/* ARROWS */

.arrow {
  border: solid #856c51;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  background-color: #fffcf7;
  border-radius: 3px;
  padding: 12px 15px;
  width: 150px;
  /* border: 1px solid black; */
}

.tooltip h2 {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 15px;
}

.tooltip p {
  font-size: 13px;
  margin: 0px;
}

.footer-container {
  text-align: center;
  width: 100%;
  background-color: rgba(5, 62, 61, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container img {
  margin-top: 30px;
}

.footer-container p {
  font-size: 16px;
  font-weight: 400;
  color: #b1c4c1;
  margin: 5px 0 20px;
  width: 80%;
}

/* MOBILE ONLY */

.banner {
  position: absolute;
  z-index: 30;
  background-color: #faead4;
  width: 100vw;
  height: 100vh;
}

.mobile-only {
  visibility: hidden;
}

@media only screen and (max-width: 860px) {
  .mobile-only {
    visibility: visible;
  }
}
