.title-container {
  width: 70vw;
  text-align: left;
}

.title-container h1 {
  font-size: 70px;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  /* line-height: 1; */
}

.title-container h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  /* color: #85694d; */
  font-family: "Open Sans", sans-serif;
}

.title-container p {
  font-size: 20px;
}

.title-container h4 {
  font-family: "Open Sans", sans-serif;
}

/* TEXT */

.text-container {
  padding: 20px 30px 10px;
  /* background-color: rgba(250, 234, 212, 0.7); */
  width: 70vw;
  text-align: left;
}

.white-bg {
  background-color: white;
}

.text-container img {
  width: 80vw;
  max-width: 700px;
}

.text-container h2 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: rgba(5, 62, 61, 1);
}

.text-container p {
  font-size: 20px;
}

.section-container {
  width: 70vw;
  text-align: left;
}

.section-container h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  /* line-height: 1; */
}

.quote {
  font-size: 26px;
  font-style: italic;
  font-family: "PT Serif", serif;
  color: #0a6e55;
  font-weight: 400;
}

/* .quote b {
  font-weight: 600;
} */

.video-container {
  padding: 20px 30px 10px;
  /* background-color: rgba(250, 234, 212, 0.7); */
  width: 90vw;
  text-align: center;
}

.img-container {
  padding: 20px 30px 10px;
  /* background-color: rgba(250, 234, 212, 0.7); */
  width: 70vw;
  text-align: center;
}

.img-container img {
  width: 80vw;
  max-width: 700px;
  margin-bottom: 20px;
}

/* specific page styling */

.cover-bg {
  background: linear-gradient(rgba(5, 62, 61, 1), rgba(38, 153, 138, 1));
  color: white;
}

.cover-bg h2 {
  color: #eee;
}

.auto-height {
  height: auto !important;
}
